input {
    all: unset;
  }


.pageContainer{
    width: 100vw;
    height: 100vh;
 
}

.navbarContainer{
    width: 100%;
    height: 10%;

}

.flexCenter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 1000px;
    position: relative;
}

.inputContaine{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.studentsListContainer{
    align-self: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
.containerMargin{
    width: 90%;
}

.studentsSearchInputContainer{
    margin-bottom: 40px;
    display: flex;
    align-items: left;
}

.studentsContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 80px;
}

.emptyStudentsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 700;
}

.emptyTeachersContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 700;
}