.emailContainer{
    width: 300px;
    padding: 15px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #BE90F7;
    border-radius: 20px;

}

.icon{
    cursor: pointer;
}