.pageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    min-height: 1000px;
 
}

.closingContainer{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    
}

.ourTeachersLabel{
    display: flex;
    justify-content: space-between;
    width: 70%;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
}

.teachersTitle{
    font-size: 30px;
    font-weight: 600;
    color: white;
    display: flex;
    background-color: #192435;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
}

.ourTeachersContainer{
    width:70%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    min-height: calc(320px *2 + 60px);
    padding-top: 30px;
    
}

.dropDownButton{
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    color: white;
    position: absolute;
    right:0px;
    top:50%;
    transform: translateY(-50%);
    padding-left: 20px;
    padding-right: 20px;
    z-index: 2;
    background-color: #192435;
    border-radius: 3px;
}

.dropDownMenu{
    margin-top: 4px;
    position: absolute;
    top: 100%;
    right: 0px;
    left: 0px;
    background-color: #fff;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
    z-index: 3;
}

.dropDownMenuItem{
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    color: #000;
    padding-top:2px;
    padding-bottom: 2px;
    border-radius: 5px;
}

@media screen and (max-width: 1000px){
    .ourTeachersLabel{
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        row-gap: 30px;
    }
    .dropDownButton{
        position: unset;

    }
    .ourTeachersContainer{
        justify-content: center;
    }

}