.container{
   height: calc(100% - 56px);
    flex: 1;
}

@media screen and (min-width: 768px) {
    .container{
        height: calc(100% - 64px);
    }
}

@media screen and (min-width: 1024px) {
    .container{
        height: calc(100% - 68.5px);
    }
}
