.cardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #33373b;
    min-width: 345px;
    height: 295px;
    border-radius: 12px;
    position: relative;
}

.attendeeName{
    font-size: 1.4rem;
    font-weight: 500;
    color: #fff;
    margin: 0;
    text-align: left;
    position: absolute;
    left: 10px;
    bottom: 10px;

}

.microOff{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
}

.iconContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 125px;
    background-color: aliceblue;
    border-radius: 50%;
    font-size: xx-large;
}

.video{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}