

 .logoImage{
  width: 52px;
  height: 52px;
  object-fit: scale-down;
  margin-right: 8px;
 }
 .mobile{
  display: block;
  width: 42px;
  height: 42px;
 }
  .desktop {
    display: none;
  }



@media (min-width: 768px) {
  .mobile{
   display: none;
  }
  .desktop {
    display: block;
  }

}